* {
    font-family: Arial, Helvetica, sans-serif;
}

#municipalities path{
    position: relative;
    fill: darkgreen;
    stroke: rgb(204, 204, 0)}
#municipalities path:hover{
    fill: rgb(17, 173, 14);
}
#lakes path{
    fill: rgb(51, 102, 255);
    stroke: darkblue;
}

#tg-map {
    width: 60%;
    padding-left: 10%;
    padding-bottom: 20%;
}

#tooltip-map {
    position: absolute;
    padding: 10px;
    background: #9b83a8;
    color: #000000;
    border-radius: 8px;
    pointer-events: none;
}

.charts{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    align-items: center;
    position: relative;


}

select{
    width: 85px;
    margin-bottom: 1%;
}

.charts select.left {
    left: 2%;
    top: 3%;
}

.charts .right {
    position: absolute;
    margin-left: 100%;
    top: 20%;
}

 .charts {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

.charts canvas {
    max-width: 100%;
    max-height: 100%;
}

h2{
    margin-bottom: 1%;
}

.gemeinden-liste {
    height: 300px; /* Höhe der Liste anpassen */
    overflow: auto; /* Scrollen aktivieren */
    background-color: #f2f2f2; /* Hintergrundfarbe der Liste */
    padding: 10px; /* Innenabstand der Liste */
}

.gemeinden-liste ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gemeinden-liste li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer; /* Zeiger-Cursor für Listenelemente */
}

.gemeinden-liste li:hover {
    background-color: #9b83a8; /* Dunklerer Hintergrund beim Hover */
}

.searchList{
    text-align: center;
}

.gemeinden-liste li:last-child {
    border-bottom: none;
}

/* Individuell gestaltete Scrollbar */
.gemeinden-liste::-webkit-scrollbar {
    width: 8px; /* Breite der Scrollbar */
}

.gemeinden-liste::-webkit-scrollbar-thumb {
    background-color: #888; /* Farbe des Scrollbar-Thumb */
}

.gemeinden-liste::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Hintergrundfarbe des Scrollbar-Tracks */
}

.clicked{
    background-color: #9b83a8;
}

.lineChartDrop{
    align-items: baseline;
}
