#municipalities path{
    fill: darkgreen;
    stroke: rgb(204, 204, 0)}
#municipalities path:hover{
    fill: rgb(17, 173, 14);
}
#lakes path{
    fill: rgb(51, 102, 255);
    stroke: darkblue;
}

#tg-map {
    width: 60%;
    padding-left: 20%;
}

.charts{
    padding-left: 20%;
    padding-right: 20%;
}

